<h1>Contact</h1>

<p>We are always happy to hear from our customers.</p>

<p>phone: <%= @phone %></p>

<p> press: <a href='mailto@nowhere.com'>press.nowhere.com</a>

<p><%= link_to('About Us', {:action => 'about'}) %></p>