<h1>Hello index</h1>
<%= link_to("rail hello",{:action => 'hello'}) %>
<br>
<%= link_to("hello with parameters",{:action => 'hello', :page => 4, :id => 20}) %>

<p><%= link_to('About Us', {:action => 'about'}) %></p>

<br>

<%= link_to('All subjects',subjects_path) %>